@import '/src/assets/abstracts/variables';
.form-group {
  margin-bottom: 2em;
}

button.primary {
  background-color: $mainBrownColor;
  border: none;
  padding: 10px 26px;
  border-radius: 8px;
  color: #FFF;
}

button.white {
  background-color: #fff;
  padding: 10px 26px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}