<app-breadcrumb [icon]="'assets/images/icons/ShoppingBagOpen.svg'" [list]="breadCrumbList"></app-breadcrumb>

<div class="row">
  <div class="col-lg-3">
    <div class="brown_bordered_box">
      <div class="header">
        <div class="img">
          <img src="assets/images/icons/folder.svg" alt="">
        </div>
      </div>
      <div class="body">
        <a routerLink="/settings/1">مرفقات انشاء حساب جديد</a>
      </div>
      <div class="footer">
        <span>17 Type</span>
        <span>Policy</span>
      </div>
    </div>
  </div>
</div>